h3 最强英雄
.grid.grid-pad
  a.col-1-4(*ngFor="let hero of heroes", [routerLink]="['/detail', hero.id]",
    (mouseenter)="changeActiveHero(hero)",
    (mouseleave)="changeActiveHero(null)")
    .module([@heroState]="getState(hero)")
      h4 {{hero.name}}
