h2 英雄列表
ul.heroes
  li(*ngFor='let hero of heroes',(click)='onSelect(hero)',
    [class.selected]='hero === selectedHero')
    span.badge() {{hero.id}}
    | {{hero.name}}
//- app-hero-detail([hero]="selectedHero")
div(*ngIf="selectedHero")
  h2 {{selectedHero.name}}
  button((click)="gotoDetail()") 查看详情